<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.bean.DocumentMapper">

	<cache type="org.mybatis.caches.ehcache.LoggingEhcache">
	</cache>

	<sql id="orderSql">
		<if test="orderby!=null">
			order by ${orderby}
			<if test="orderway!=null">
				${orderway}
			</if>
		</if>
	</sql>

	<!-- 分页条件的拼接 -->
	<sql id="pageSql">
		<if test="start!=null">
			limit #{start},#{pagesize}
		</if>
	</sql>

	<!-- 编辑公文 -->
	<insert id="editorDocument" parameterType="Document"
		useGeneratedKeys="true" keyProperty="mid">
		insert into
		document(dotitle,docontent,dofromuid,dotouid,douid,dotime,dofid,dostatus)
		values(#{dotitle},#{docontent},#{dofromuid},#{dotouid},#{douid},now(),#{dofid},'待审核')
	</insert>


	<!-- 按条件查找Document -->
	<select id="FindDocumentByCondition" parameterType="Document"
		resultType="Document">
		select
		doid,dotitle,docontent,dofromuid,dotouid,douid,dotime,dofid,dostatus,a.uname
		as funame,b.uname as tuname,c.uname as douname,file.fname as fname,permissionforuser.perid
		from document left join
		users a on document.dofromuid = a.uid
		left join users b  on document.dotouid = b.uid 
		left join users c  on document.douid = c.uid 
		left join file on document.dofid = file.fid
		left join permissionforuser on permissionforuser.uid = document.dotouid
		where dostatus !='已归档'
		<include refid="orderSql" />
		<include refid="pageSql" />
	</select>
	
	
	

	<!-- 查找Document数量 -->
	<select id="DocumentCount" resultType="int">
		select count(*) from
		Document
	</select>

	<!-- 公文审批通过 -->
	<update id="goodDocument" parameterType="Document">
		update document set
		dostatus = '审批通过',dotouid = (select distinct a.uid from
		(select uname,uid from users where did=(select did from users where uid = #{dofromuid})
		) a
		left join permissionforuser on a.uid = permissionforuser.uid
		where permissionforuser.uid = (select uid from permissionforuser where
		perid = 2))
		where doid = #{doid}
	</update>

	<!-- 公文审批未通过 -->
	<update id="badDocument" parameterType="Document">
		update document set
		dostatus = '不合格',docomment = #{docomment} where doid = #{doid}
	</update>

	<!-- 经理审批通过 -->
	<update id="passDocument" parameterType="Document">
		update document set
		dostatus = '任务合格' where doid = #{doid}
	</update>
	
	<!-- 任务完成 -->
	<update id="finishDocument" parameterType="Document">
		update document set
		dostatus = '已完成' where doid = #{doid}
	</update>

	<!-- 公文归档 -->
	<update id="archiveDocument" parameterType="Document">
		update document set
		dostatus = '已归档'  where doid = #{doid} and dostatus='已完成'
	</update>
	
	
	<!-- 已归档公文 -->
	<select id="FindGDDocument" parameterType="Document"
		resultType="Document">
		select
		doid,dotitle,docontent,dofromuid,dotouid,douid,dotime,dofid,dostatus,docomment,a.uname
		as funame,b.uname as tuname,c.uname as douname,file.fname as fname,permissionforuser.perid
		from document left join
		users a on document.dofromuid = a.uid
		left join users b  on document.dotouid = b.uid 
		left join users c  on document.douid = c.uid 
		left join file on document.dofid = file.fid
		left join permissionforuser on permissionforuser.uid = document.dotouid
		where dostatus ='已归档'
		<include refid="orderSql" />
		<include refid="pageSql" />
	</select>


	<!-- 查找Document数量 -->
	<select id="findGDDocumentCount" resultType="int">
		select count(*) from
		Document where dostatus ='已归档'
	</select>
	
	<!-- 更据doid查公文内容 -->
	<select id="findContentBydoid" resultType="Document" parameterType="Document">
		select docontent from document where doid=#{doid}
	</select>
	
	<!-- 更据doid查不合格内容 -->
	<select id="findCommentBydoid" resultType="Document" parameterType="Document">
		select docomment from document where doid=#{doid}
	</select>

</mapper>