<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.bean.FileuploadMapper">

	<cache type="org.mybatis.caches.ehcache.LoggingEhcache">
	</cache>

	<sql id="orderSql">
		<if test="orderby!=null and orderby!=''">
			order by #{orderby}
			<if test="orderway!=null and orderway!=''">
				#{orderway}
			</if>
		</if>
	</sql>

	<!-- 分页条件的拼接 -->
	<sql id="pageSql">
		<if test="start!=null">
			limit #{start},#{pagesize}
		</if>
	</sql>

	<insert id="addFile" parameterType="Fileupload"
		useGeneratedKeys="true" keyProperty="fid">
		insert into
		file(fname,description,path,uid,uptime,downtimes,fweight,todid,togid,touid,fstatus)
		values(#{fname},#{description},#{path},#{uid},now(),0,#{fweight},#{todid},#{togid},#{touid},#{fstatus})
	</insert>



	<select id="findFile" parameterType="Fileupload" resultType="Fileupload">
		select
		fid,fname,description,path,file.uid,a.uname as uname,uptime,downtimes,fweight,touid,togid,todid,fstatus
		from file left join (select uid,uname from users) a on a.uid = file.uid where fstatus = 1
		<where>
			<if test="fname!=null and fname!=''">
				fname = #{fname}
			</if>
		</where>
		<include refid="orderSql" />
		<include refid="pageSql" />
		
	</select>



	<!-- 查找notice数量 -->
	<select id="FileCount" resultType="int">
		select count(*) from file where fstatus = 1
	</select>


	<select id="findFilefordownload" parameterType="Fileupload" resultType="Fileupload">
	select
	fid,fname,description,path,uid,uptime,downtimes,fweight,touid,togid,todid
	from file where fid = #{fid}
	</select>
	
	<!-- 更新下载次数 -->
	<update id="updatedownloadtimes" parameterType="Fileupload">
		update file set downtimes = downtimes+1 where fid = #{fid}
	</update>
	
	<delete id="deleteFile" parameterType="Fileupload">
		delete from file where fid = #{fid}
	</delete>




</mapper>