<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.bean.MessageMapper">

	<cache type="org.mybatis.caches.ehcache.LoggingEhcache">
	</cache>

	<sql id="orderSql">
		<if test="orderby!=null and orderby!=''">
			order by #{orderby}
			<if test="orderway!=null and orderway!=''">
				#{orderway}
			</if>
		</if>
	</sql>

	<!-- 分页条件的拼接 -->
	<sql id="pageSql">
		<if test="start!=null">
			limit #{start},#{pagesize}
		</if>
	</sql>

	<!-- 发信息 -->
	<insert id="SendMessage" parameterType="Message" useGeneratedKeys="true"
		keyProperty="mid">
		insert into message(content,mweight,createtime,fid,fromuid,did,gid,uid)
		values(#{content},#{mweight},now(),#{fid},#{fromuid},#{did},#{gid},#{uid})
	</insert>

	<!-- 按条件查找Message -->
	<select id="FindMessageByCondition" parameterType="Message" resultType="Message">
		select mid,content,b.uname as fromuname,c.uname as touname,f.fname as fname,f.fid as fid,
		d.department as department,e.gname as gname,createtime,mweight from message a
		left join users b on a.fromuid = b.uid left join users c on a.uid = c.uid
		left join department d on a.did = d.did left join groups e on a.gid = e.gid
		left join file f on f.fid = a.fid
		<where>
			<if test="did!=null and did!=''">
				did = #{did}
			</if>
			<if test="gid!=null and gid!=''">
				gid = #{gid}
			</if>
			<if test="uid!=null and uid!=''">
				uid = #{uid}
			</if>
			<if test="createtime!=null and createtime!=''">
				createtime = #{createtime}
			</if>
		</where>
		<include refid="orderSql"/>
		<include refid="pageSql"/>
	</select>

	<!-- 查找Message数量 -->
	<select id="MessageCount" resultType="int">
		select count(*) from Message
	</select>


</mapper>