<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.bean.NoticeMapper">

<!-- 	<cache type="org.mybatis.caches.ehcache.LoggingEhcache">
	</cache> -->

	<sql id="orderSql">
		<if test="orderby!=null and orderby!=''">
			order by ${orderby}
			<if test="orderway!=null and orderway!=''">
				${orderway}
			</if>
		</if>
	</sql>

	<!-- 分页条件的拼接 -->
	<sql id="pageSql">
		<if test="start!=null">
			limit #{start},#{pagesize}
		</if>
	</sql>


	<!-- 添加通知 -->
	<insert id="AddNotice" parameterType="Notice" useGeneratedKeys="true"
		keyProperty="nid">
		insert into notice(ntitle,ncontent,ntype,publictime,uid)
		values(#{ntitle},#{ncontent},#{ntype},now(),#{uid})
	</insert>

	<!-- 查找所有Notice -->
	<select id="FindNoticeByCondition" parameterType="Notice"
		resultType="Notice">
		select nid,ntitle,ncontent,ntype,publictime,notice.uid as uid,uname from notice inner join users on
		notice.uid=users.uid
		<where>
			<if test="ntitle!=null and ntitle!=''">
				and ntitle=#{ntitle}
			</if>
			<if test="ntype!=null and ntype!=''">
				and ntype=#{ntype}
			</if>
			<if test="uid!=null and uid!=''">
				and uid=#{uid}
			</if>
		</where>
		order by publictime desc
		<include refid="pageSql"/>
	</select>
	
	<!-- 查找notice数量 -->
	<select id="NoticeCount" resultType="int">
		select count(*) from notice  where 1=1
	</select>
	
	<select id="findAll" parameterType="Notice"
		resultType="Notice">
		select * from notice inner join users where users.uid=notice.uid and nid=#{nid}
	</select>


</mapper>