<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yc.bean.PlanContentMapper">
	<!-- 加入带日志的ehcache缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"></cache>


	<!-- 查找计划的具体内容 -->
	<select id="findPlanContent" parameterType="PlanContent" resultType="PlanContent">
		select pid,content from plancontent where pid=#{pid}
	</select>
</mapper>