<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yc.bean.PlanMapper">
	<!-- 加入带日志的ehcache缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"></cache>

	<!-- 排序条件的拼接 -->
	<sql id="orderSql">
		<if test="orderby!=null and orderby!=''">
			order by ${orderby}
			<if test="orderway!=null and orderway!=''">
				${orderway}
			</if>
		</if>
	</sql>

	<!-- 分页条件的拼接 -->
	<sql id="pageSql">
		<if test="start!=null ">
			limit #{start},#{pagesize}
		</if>
	</sql>
	
	<!-- 查找工作计划,可以分工作状态 -->
	<select id="findAllPlan" parameterType="Plan" resultType="Plan">
		select pid,pname,content,timestart,timelimit,timeend,pstatus,plan.gid as
		gid,gname from plan left join groups
		on plan.gid=groups.gid
		<where>
			<if test="gid!=null and gid!=''">
				and plan.gid=#{gid}
			</if>
			<if test="pid!=null and pid!=''">
				and pid=#{pid}
			</if>
			<if test="pname!=null and pname!=''">
				and pname like '%${pname}%'
			</if>
			<if test="timefrom!=null and timefrom!=''">
				and timestart >#{timefrom}
			</if>
			<if test="timeto!=null and timeto!=''">
				and #{timeto}>timestart
			</if>
			<if test="gname!=null and gname!=''">
				and gname like '%${gname}%'
			</if>
			<if test="content!=null and content!=''">
				and content like '%${content}%'
			</if>
			<if test="pstatus!=null and pstatus!=''">
				and pstatus=#{pstatus}
			</if>
		</where>
		<include refid="orderSql" />
		<include refid="pageSql" />
	</select>
	
	<!-- 查找条件统计查询 -->
	<select id="findAllPlanCount" parameterType="Plan" resultType="int">
		select count(1) from plan left join groups on plan.gid=groups.gid 
		<where>
			<if test="gid!=null and gid!=''">
				and plan.gid=#{gid}
			</if>
			<if test="pid!=null and pid!=''">
				and pid=#{pid}
			</if>
			<if test="pname!=null and pname!=''">
				and pname like '%${pname}%'
			</if>
			<if test="timefrom!=null and timefrom!=''">
				and timestart >#{timefrom}
			</if>
			<if test="timeto!=null and timeto!=''">
				and #{timeto}>timestart
			</if>
			<if test="gname!=null and gname!=''">
				and gname like '%${gname}%'
			</if>
			<if test="content!=null and content!=''">
				and content like '%${content}%'
			</if>
			<if test="pstatus!=null and pstatus!=''">
				and pstatus=#{pstatus}
			</if>
		</where>
	</select>
	
	<!-- 插入新的计划 -->
	<insert id="addPlan" parameterType="Plan" useGeneratedKeys="true"
		keyProperty="pid">
		insert into plan(pname,content,timestart,timelimit,gid,pstatus)
		values(#{pname},#{content},now(),#{timelimit},#{gid},'进行中')
	</insert>
	
	<!-- 查找计划的具体内容 -->
	<select id="findPlanContent" parameterType="java.util.Map" resultType="Plan">
		select pid,content from plan where pid=#{pid}
	</select>
	
	<!-- 删除计划 -->
	<delete id="delPlan" parameterType="java.util.Map">
		delete from plan where pid=#{pid}
	</delete>

	<!-- 通过ID查找计划 -->
	<select id="findPlanById" resultType="Plan" parameterType="java.util.Map">
		select pid,pname,timelimit,content,pstatus,gid from plan where pid=#{pid}
	</select>
	
	<!-- 计划完成 -->
	<update id="completePlan" parameterType="java.util.Map">
		update plan set timeend=now(),pstatus='已完成' where pid=#{pid}
	</update>
	
	<!-- 修改计划 -->
	<update id="updatePlan" parameterType="Plan">
		update plan set pname=#{pname},timelimit=#{timelimit},content=#{content},pstatus=#{pstatus},gid=#{gid} 
		<if test="pstatus=='已完成'">
			,timeend=now()
		</if>
		where pid=#{pid}
	</update>

</mapper>