<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.bean.UserMapper">
<!--加入带日志的ehcache缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"></cache>
	
	<!-- 根据id查询用户 -->
	<select id="userLogin" parameterType="User" resultType="User">
		select * from users where uname=#{uname} and upwd=#{upwd}
	</select>
	
	
	
</mapper>